<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Posts</title>
    <link rel="stylesheet" href="/css/posts.css">
</head>
<body>

    <div class="container3">
        <h2>All Posts</h2>
        <div id="allPostsContainer">
        </div>
    </div>

    <div class="fab-container">
        <button id="backToProfileBtn" class="fab">Back to Profile</button>
        <button id="logoutBtn" class="fab">Log Out</button>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/all_posts.js"></script>
</body>
</html>
